@tailwind base;
@tailwind components;
@tailwind utilities;



/* Scrollbar track */
::-webkit-scrollbar {
  width: 6px;  /* Adjust this value to make the scrollbar thinner */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);  /* Scrollbar color */
  border-radius: 10px;  /* Makes the scrollbar rounded */
}

/* Scrollbar thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);  /* Darken color on hover */
}



