@tailwind base;
@tailwind components;
@tailwind utilities;



/* Scrollbar track */
::-webkit-scrollbar {
  width: 6px; 
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4); 
  border-radius: 10px;  
}

/* Scrollbar thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);  
}



